body{
    border: 3px solid blueviolet;
    background: rgb(0, 0, 0);
    color: beige;
}
.carousel{
    border: solid orange 3px;
}
#banner{
    text-align: center;
    background-image: url('../pngs/banner-10.png');
    background-repeat: no-repeat;
    color:white;
    -webkit-filter: invert(100%);
}
#story{
    font-size: 15px
}
.author-desc{
    font-size: 15px;
}

@media screen and (max-width: 768px){
    #banner{
        display: none;
    }
    .carousel-inner{
        height: auto;
    }
    #logo-home{
        margin-top: 2.5%;
        margin-left: 5%;
        border-radius: 15px;
        padding: none;
      }
      #logo-home:hover{
        -webkit-filter: brightness(250%);
      }
}
@media screen and (min-width: 768px){
    #banner-m{
        display: none;
    }
    #logo-home{
        z-index: 9999;;
        margin-top: 1.8%;
        margin-left: 2.5%;
        position: absolute;
        border-radius: 15px;
        padding: 10;
        background: rgb(8, 8, 8);
      }
      #logo-home:hover{
        -webkit-filter: brightness(150%);
        background: rgba(231, 226, 226, 0.753);
      }
}
#p1{
    color: black;
}
#p2{
    color: azure;
    text-align: right;
}
#banner-m{    
    background: url("../pngs/banner-7.png");
    color:white;
    -webkit-filter: invert(100%);  
}   
