/*---------------------------------RESPONSIVE TAGS--------------------------------------------*/
@media screen and (min-width:768px)
{
  .mobile{
    display: none;
  }
}
/*------------------------------------------------------------------------------*/
/*---------------------B  A  C  K  G  R  O  U  N  D---------------------------*/
.background{
    position: absolute;
    content: url('../jpegs/home.jpg');
    z-index: 0;
}
/*------------------------------------------------------------------------------*/
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlay{
    position: absolute; 
    top: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
/*----------------------------------------------------------------------------*/
/*---------------------B  U  T  T  O  N---------------------------*/
.btn{
    position: fixed;
    z-index: 1;
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgba(107, 132, 139, 0);
}
.btn:hover{
    -webkit-filter: brightness(200%);
}
/*------------------------DROP DOWN ----------------------------------------*/
.dropdown-menu{
  background-color: rgba(100, 200, 112, 0);
}
.dropdown-item:hover{
  background-color: rgba(178, 178, 223, 0.5);
  color: blueviolet;
}
/*----------------------------------------------------------------------------*/
/*---------------------A  B  O  U T ---------------------------*/
/* Container needed to position the overlay. Adjust the width as needed */
.container-A{
    position:absolute;
    width: 50%;
    max-width: 289px;
    margin-left: 211px;
    margin-top: 92px;
  }
  
  /* Make the image to responsive */
  .about{
    display: block;
    width: 100%;
    height: auto;
  }

  /* When you mouse over the container, fade in the overlay title */
  .container-A:hover .overlay{
    opacity: 1;
  }
  .container-A:hover{
      -webkit-filter: brightness(120%);
  }
  /*------------------------------------------------------------------------------*/
  /*-----------------------G  A  L  L  E  R  Y---------------------------------*/
  /* Container needed to position the overlay. Adjust the width as needed */
.container-G{
    position: absolute;
    width: 50%;
    max-width: 803px;
    margin-left: 530px;
    margin-top: 108px;
  }
  
  /* Make the image to responsive */
  .gallery{
    display: block;
    width: 100%;
    height: auto;
  }  
  /* When you mouse over the container, fade in the overlay title */
  .container-G:hover .overlay{
    opacity: 1;
  }
  .container-G:hover{
      -webkit-filter: brightness(120%);
  }
  /*--------------------------------------------------------------------------------------------------------------*/
  /*-----------------------------------P  R  O  J  E  C  T  S-----------------------------------------------------*/
  /* Container needed to position the overlay. Adjust the width as needed */
  .container-P{
    position: absolute;
    width: 50%;
    max-width: 319px;
    margin-left: 169px;
    margin-top: 336px;
  }
  
  /* Make the image to responsive */
  .project{
    display: block;
    width: 100%;
    height: auto;
  }
  /* When you mouse over the container, fade in the overlay title */
  .container-P:hover .overlay{
    opacity: 1;
  }
  .container-P:hover{
      -webkit-filter: brightness(120%);
  }
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------B  L  O  G  S-----------------------------------------------------------------------*/
  /* Container needed to position the overlay. Adjust the width as needed */
  .container-B1{
    position: absolute;
    width: 50%;
    max-width: 669px;
    margin-left: 493px;
    margin-top: 342px;
  }
  
  /* Make the image to responsive */
  .blogs{
    display: block;
    width: 100%;
    height: auto;
  }
  .container-B1:hover .overlay{
    opacity: 1;
  }
  .container-B1:hover {
    -webkit-filter: brightness(130%);
  }  
  /*-------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------C  O  N  T  A  C  T   SS-----------------------------------------------------------------------*/
  /* Container needed to position the overlay. Adjust the width as needed */
  .container-C{
    position: absolute;
    width: 50%;
    max-width: 519px;
    margin-left: 818px;
    margin-top: 523px;
  }
  
  /* Make the image to responsive */
  .contacts{
    display: block;
    width: 100%;
    height: auto;
  }
  /* When you mouse over the container, fade in the overlay title */
  .container-C:hover .overlay{
    opacity: 1;
  }
  .container-C:hover{
      -webkit-filter: brightness(120%);
  }
  /*-------------------------------MOBILE DISPLAY-------------------------------------------------*/
  td{
    text-align: center;
    width: 100px;
  }
  table{
    width: 100%;
    height: auto;
  }
  .dropdown-m{
      margin-left: 90px;
  }
  .mobile{
    width: 100%;
    height: auto;
    background-image: linear-gradient( to right,#1F234A,  rgba(44, 53, 153, 0.7));
  }
  #icons{
    height: auto;
    border-radius: 300px;  
    border: solid rgba(45, 45, 94, 0.74);
  }
  #icons:hover{
    border: white solid;
    -webkit-filter: brightness(500%);
  }
  @media screen and (max-width:768px){
    *{
      
    }
    .browser,.dropdown-menu{
      display: none;
    }
    .btn{
      position: relative;
      margin-top: 0;
      margin-left: 10px;
    }
    .icons{
      width: 100%;
    }
  }